backports.ssl_match_hostname
click
gdal
uwsgi
gunicorn
eventlet
rtree
imposm
decorator
webtest
git+git://github.com/terranodo/geonode.git@eventkit#egg=geonode
git+git://github.com/terranodo/mapproxy.git@addGeopackageAutoconfig#egg=mapproxy
git+git://github.com/terranodo/django-mapproxy.git@master#egg=djmp
git+git://github.com/terranodo/django-osgeo-importer.git@eventkit#egg=osgeo-importer
numpy==1.11.1
