#TODO: Pin specific versions for all of these dependencies.
backports.ssl_match_hostname
click
gdal
uwsgi
gunicorn
eventlet
#rtree
#imposm
decorator
webtest
#geonode==2.5.2
git+git://github.com/terranodo/geonode.git@eventkit#egg=geonode
git+git://github.com/terranodo/mapproxy.git@addGeopackageAutoconfig#egg=mapproxy
git+git://github.com/terranodo/django-mapproxy.git@master#egg=djmp
git+git://github.com/terranodo/django-osgeo-importer.git@master#egg=osgeo-importer
#git+git://github.com/terranodo/geonode.git@eventkit#egg=geonode
numpy==1.11.1
