{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Get Going." %}</h1>
      <p>{% blocktrans %}Eventkit is an open source platform for downloading and serving geospatial data and maps anywhere.{% endblocktrans %}</p>
      <span>{% trans 'Need help?' %} <a href="http://docs.geonode.org/en/master/">{% trans 'Getting Started' %}</a></span>
    </div>
  </div>
  {% endblock %}
